/target/
/.idea/
.idea/
*.iml
target/
/package-lock.json
/node_modules/
.DS_Store
/macos
/macos.pub
/Jenkinsfile
/src/test/resources/hpqc.csv
/src/test/resources/*.properties
!/src/test/resources/*.database.properties
!/src/test/resources/serenity.properties
!/src/test/resources/serenity.seetest-android.properties
!/src/test/resources/serenity.seetest-ios.properties
!/src/test/resources/serenity.iOS.properties
!/src/test/resources/serenity.android.properties
!/src/test/resources/serenity.kobiton-android.properties
!/src/test/resources/serenity.browserstack-android.properties
!/src/test/resources/serenity.browserstack-ios.properties
!/src/test/resources/serenity.customDriver.properties
!/src/test/resources/serenity.chrome.properties
!/src/test/resources/serenity.firefox.properties
!/src/test/resources/serenity.mac-chrome.properties
!/src/test/resources/serenity.mac-firefox.properties
!/src/test/resources/serenity.kobiton-ios.properties
!/src/test/resources/simplelogger.properties
!/src/test/resources/uivalidator.properties
